<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input type="text" placeholder="Suname" [(ngModel)]="surname"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input type="number" placeholder="Age" [(ngModel)]="age"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="gender">
            <ion-select-option value="Female">Female</ion-select-option>
            <ion-select-option value="Male">Male</ion-select-option>
        </ion-select>
    </ion-item>

    <!-- <ion-item>
        <ion-label position="floating">Gender</ion-label>
        <ion-input></ion-input>
    </ion-item> -->

    <ion-button expand="full" shape="round" color="tertiary" (click)="nextPage()">Full Button</ion-button>



</ion-content>